
.Drop_down{
	display: none;
	height:281px;
	width:159px;
    position: absolute;
	background-color:#333333;
    z-index: 1;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	color: #555554;
	padding: 0px;

	
}
.Drop_down_2{
	display: none;
	height:211px;
	width:159px;
    position: absolute;
	background-color:#333333;
    z-index: 1;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	color: #555554;
	padding: 0px;

	
}

.Drop_gumb_Link{	
	height: 69px;
	width: 159px;
    display: block;
    text-align: center;
	padding: 4px 35px;
	text-decoration: none;

	color:#cccccc;
	max-width: 159px;
	padding:0px;
	border-bottom: 1px solid #D1C6C6;
}

.Drop_gumb_Link_D{
	height: 69px;
	width: 159px;
	text-decoration: none;
	color: #cccccc;
	display: block;
	height: inherit;
	padding:0px;
	border-bottom: 1px solid #D1C6C6;
}
.Drop_gumb_Link:hover {
	background-color:#666664;
	cursor:pointer;
}
.Drop_gumb_Link_D:hover {
	background-color:#666664;
	cursor:pointer;
}
.Drop_ime{
	padding-top:23px;
	
}
.show{
	display:block;
}
