#Menu_pad{
	padding-top: 0px;
	padding-left:  10px;
	padding-right: 10px;
	
}
#Menu{
	background-color:#E9E9E9;
	height: 70px;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	list-style-type:none;
	color: #555554;
	
}
#Menu_bar{
	background-color:#E9E9E9;
	height: 70px;
	overflow-y: hidden;
	font-size: 20px;
	font-weight: bold;
	color: #555554;
	list-style-type:none;
	padding: 0;

}


.Menu_gumb{
	background-color:#E9E9E9;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #D1C6C6;
	width: 16.4%;
	height:inherit;
}
.Menu_gumb:hover {
	background-color:#AAAAAA;
	cursor:pointer;
}


.Menu_gumb_last{
	background-color:#E9E9E9;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 16.4%;
	height:inherit;
	/*padding: 9px 0px;*/
}

.Menu_gumb_last:hover {
	background-color:#AAAAAA;
	cursor:pointer;
}

.Menu_ime{
	padding: 9px 0px;
	
	
}
#Menu_pad ul li a#trenutna{
	background-color:#333333;
	color:#cccccc;
}




.Menu_gumb_Link_D{
	text-decoration: none;
	color: #555554;
	display: block;
	height: inherit;
}


.Menu_gumb_Link{
	height: inherit;
    display: block;
    text-align: center;
	padding: 14px 35px;
	text-decoration: none;
	color: #555554;

}