@import "Main.css";
@import "Banner.css";
@import "Menu.css";
@import "Sub_menu.css";
@import "Drop.css";
@import "Scroll.css";






#text{
	
	padding: 0;
	margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}
#Tekst{
	color: #333333;
	font-family:Arial;
	font-size: 16px;
	padding: 0px 11px;

	
	
}
.Tekst_stupac_tekst{
	color: #333333;
	font-family:Arial;
	font-size: 16px;
	display:inline-block;
	width:46%;
	vertical-align: middle;
}
#O_nama_s{
}
.Tekst_stupac_slika{
	display:inline-block;
	vertical-align: top;
	float: right;
	
}
#O_nama_2{
	width: 450px;
	height:600px;
	border: 1px solid #999999;

}
#Hydro_2{
	width:380px;
	height:359px;
	border: 1px solid #999999;
	margin-top:25px;
}
#Tech{
	
	width:50%;
}
#Tech_1{
	
}
.Slika{
	padding: 0px 12px;
}
#banner{
	border: 1px solid #999999;
}
#Disclaimer{
	color: #333333;
	font-family:Arial;
	font-size: 10px;
	text-align:center;
	padding: 20px 0px;
	
}




















/*
#Menu_Gumb{

	height: inherit;
	width: auto;
	margin: 0px 21px  0px42px;
	padding: 21px 42px;
	text-align: center;
	vertical-align: middle;
	float: left;
	
	
}
#Menu_Gumb_Double{

	height: inherit;
	margin: 0px9px 0px;
	padding: 9px 42px;
	text-align: center;
	vertical-align: middle;
	float: left;
	
	
}
*/